.card {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border-radius: 0.5rem !important;
  }
  .card-body {
    padding: 1.25rem;
  }
  .card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .card .btn-primary {
    width: 100%;
    background-color: $color-text-heading;
    border: none;
  }
  .card .btn-primary {
    padding-right: 0.5rem;
    position: relative;
  }
  .card .btn-primary::before {
    content: '';
    position: absolute;
    background-color: #767676;
    width: 1.5rem;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .card p {
    font-size: 18px;
  }
  